@model Hospital


<form asp-action="Cadastrar" asp-controller="Hospital" method="post">
    <fieldset>
        <legend>Cadastrar Hospital</legend>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Nome">Nome:</label>
            <input class="form-control" asp-for="Nome" type="text" placeholder="Nome do Hospital" />
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="Endereco">Endereço:</label>
            <input class="form-control" asp-for="Endereco" type="text" placeholder="Endereço do Hospital" />
            <span class="text-danger" asp-validation-for="Endereco"></span>
        </div>

        <div class="form-group">
            <label asp-for="Telefone">Telefone:</label>
            <input class="form-control" asp-for="Telefone" type="text" placeholder="Telefone do Hospital" />
            <span class="text-danger" asp-validation-for="Telefone"></span>
        </div>

        <div class="form-group">
            <label asp-for="NomeResponsavel">Responsavel:</label>
            <input class="form-control" asp-for="NomeResponsavel" type="text" placeholder="Responsavel pelo Hospital" />
            <span class="text-danger" asp-validation-for="NomeResponsavel"></span>
        </div>

        <div class="form-group">
            <input class="btn btn-primary mg-10" type="submit" value="Cadastrar" />
            <a class="btn btn-secondary mg-10" asp-action="Index" asp-controller="Hospital">Voltar para Lista</a>
        </div>
    </fieldset>
</form>
