@model Hospital

<form asp-action="Editar" asp-controller="Hospital" method="post">
    <fieldset>
        <legend>Editar Hospital</legend>

        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">

            <label asp-for="Id">Id:</label>
            <input asp-for="Id" class="form-control" readonly type="text" placeholder="Id do Hospital" />
            <input asp-for="Id" type="hidden" />
        </div>
        <div class="form-group">
            <label asp-for="Nome">Nome:</label>
            <input class="form-control" asp-for="Nome" type="text" placeholder="Nome do Hospital" />
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="Endereco">Endereço:</label>
            <input class="form-control" asp-for="Endereco" type="text" placeholder="Endereço do Hospital" />
            <span class="text-danger" asp-validation-for="Endereco"></span>
        </div>

        <div class="form-group">
            <label asp-for="Telefone">Telefone:</label>
            <input class="form-control" asp-for="Telefone" type="text" placeholder="Telefone do Hospital" />
            <span class="text-danger" asp-validation-for="Telefone"></span>
        </div>

        <div class="form-group">
            <label asp-for="NomeResponsavel">Responsavel:</label>
            <input class="form-control" asp-for="NomeResponsavel" type="text" placeholder="Responsavel pelo Hospital" />
            <span class="text-danger" asp-validation-for="NomeResponsavel"></span>
        </div>

        <input class="btn btn-success" type="submit" value="Salvar" />
    </fieldset>
</form>

<div>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Hospital">Voltar para Lista</a>
</div>