<!DOCTYPE html>

<html>
<head>
    <title>Gerenciamento dos Hospitais</title>
</head>
<body>
    <h2>Gerenciamento dos Hospitais</h2>
    <a asp-action="Cadastrar" asp-controller="Hospital">Cadastrar Hospital</a>
</body>
</html>